/* 主题色测试 */
body {background: url('/images/crossline.png') repeat center whitesmoke}
div.header-inner, div.post-block, div.sidebar-inner, div.comments.v, nav.pagination, a.btn, 
div#local-search-result {background-color: whitesmoke}
li.tab, li.tab.active {background-color: whitesmoke !important}
button.vsubmit.vbtn {background-color: lightgrey}
button.vsubmit.vbtn:hover {background-color: white}
div.note {border: 2px solid #E6E6E6}
/* 设置站点标题字体和字号 */
.site-title {
    font-size: 30px !important;
    font-weight: 500;
    +tablet-mobile() {
        font-size: 24px !important;
        font-weight: 500;
    }
}

.posts-expand .post-meta {margin: 3px 0 20px 0}
/* 更改文章内容的内边距 */
div.post-block {
    padding: 35px;
    +tablet-mobile() {padding: 25px}
}

/* 页面格式微调 */
div.posts-collapse {margin: 0 15px}
div.post-block p:last-child {display: none}
blockquote ol {margin-left: -20px}
/* 修复由于禁用显示最后一个<p>标签导致的内容为空问题 */
blockquote p, div.note p, div.tab-pane p, div.tab-pane.active p, p.image-caption {display: block !important}
div.post-body div.tabs {padding-top: 0px}
/* 更改文章标题字号 */
.posts-expand .post-title {
    font-size: 1.65em;
    font-weight: bold;
    margin-top: -6px;
    +mobile() {font-size: 1.55em; font-weight: bold; margin-top: 2px}
    +tablet() {font-size: 1.58em; font-weight: bold; margin-top: 2px}
}

/* 修改侧边栏右侧徽标字号 */
span.archive-page-counter {font-size: 15px}
/* 优化移动端顶栏显示效果 */
.site-subtitle {+tablet-mobile() {margin-bottom: 2px}}
.site-meta {+tablet-mobile() {padding-top: 16px}}
/* 强化移动端三点菜单导航按钮显示效果 */
.site-nav-toggle button {
    outline: none !important;
    +tablet-mobile() {margin-top: 1px}    
}

/* 菜单按钮点按样式 */
.site-nav-toggle button:hover, .site-nav-toggle button:active {background-color: #484848}
/* 返回顶部按钮样式 */
.back-to-top {
    padding: 0px;
    background-color: #222;
    height: 44px;
    width: 44px;
    opacity: 1;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    border-radius: 22px;
    +tablet-mobile() {
        height: 46px;
        width: 46px;
        border-radius: 23px;
    }
}

.fa-arrow-up {
    margin-top: 5px;
    height: 34px;
    width: 34px;
    +tablet-mobile() {
        height: 36px;
        width: 36px;
    }
}

.fa-arrow-up:before {
    display: inline-block;
    content: url('/images/arrow-up-34.svg');
    height: 34px;
    width: 34px;
    padding: 0px; 
    +tablet-mobile() {
        content: url('/images/arrow-up-36.svg');
        height: 36px;
        width: 36px;
    };
}

/* 修改菜单条目图标样式 */
svg.svg-inline--fa.fa-search.fa-w-16.menu-item-icon.fa-fw,
svg.svg-inline--fa.fa-circle.fa-w-16.menu-item-icon.fa-fw,
i.menu-item-icon.fa.fa-fw.fa-circle,
i.menu-item-icon.fa.fa-search.fa-fw {
    display: none;
}

/* 修改菜单显示文字大小、颜色和平滑度  */
ul.menu#menu li.menu-item.menu-item-home a,
ul.menu#menu li.menu-item.menu-item-about a,
ul.menu#menu li.menu-item.menu-item-tags a,
ul.menu#menu li.menu-item.menu-item-categories a,
ul.menu#menu li.menu-item.menu-item-archives a {
    color: #282828;
    font-size: 15.8px;
    -webkit-font-smoothing: antialiased; /*chrome、safari*/
    -moz-osx-font-smoothing: grayscale; /*firefox*/
}

/* 菜单内搜索按钮样式重置 */
li.menu-item.menu-item-search a {
    text-align: center;
    background-color: #222;
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0px solid #282828;
    border-radius: 17px;
    -webkit-font-smoothing: antialiased; /*chrome、safari*/
    -moz-osx-font-smoothing: grayscale; /*firefox*/
    +tablet-mobile() {font-size: 15px}
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    +tablet-mobile() {box-shadow: 0 0 16px rgba(0,0,0,0.5)}
}

/* 鼠标划过时的搜索按钮样式 */
li.menu-item.menu-item-search a:hover {
    background-color: #424242;
    color: white;
    border: 0px solid #282828;
    border-radius: 17px;
}

li.menu-item.menu-item-search {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    +mobile() {margin: 10px 80px 20px 80px}
    +tablet() {margin: 10px 220px 20px 220px}
}

ul.menu#menu li {
    padding-left: 8px;
    padding-right: 8px;
    +tablet-mobile() {
        padding-left: 12px;
        padding-right: 12px;   
    }
}

ul.menu#menu li.menu-item.menu-item-home.menu-item-active a,
ul.menu#menu li.menu-item.menu-item-about.menu-item-active a,
ul.menu#menu li.menu-item.menu-item-tags.menu-item-active a,
ul.menu#menu li.menu-item.menu-item-categories.menu-item-active a,
ul.menu#menu li.menu-item.menu-item-archives.menu-item-active a {
    background-color: #E6E6E6;
    font-weight: 700;
    font-size: 15.8px;
    border: 0px solid #E6E6E6;
    -webkit-font-smoothing: antialiased; /*chrome、safari*/
    -moz-osx-font-smoothing: grayscale; /*firefox*/
    +tablet-mobile() {font-size: 15.8px}
}

/* 调整“阅读全文”按钮外边距 */
div.post-button.text-center {
    margin-top: 4px;
    margin-bottom: 1px;
    +tablet-mobile() {
        margin-top: 10px;
        margin-bottom: 9px;
    }
}

/* 优化正文字间距，尝试增强其可读性 */
div.post-body p {
    font-size: 15px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    +tablet-mobile() {
	    font-size: 15px;
        text-align: justify;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-line;
        letter-spacing: 0.05px;
        word-spacing: -1.5px;
    }
}

/* 优化列表内文字间距 */
div.post-body li {
    font-size: 15px;
    text-align: justify; !important
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    letter-spacing: 0.05px;
    word-spacing: -1.5px;
}

/* 设置列表左侧内边距 */
div.post-body ol {padding-left: 12px}
/* 设置移动端按钮点击时浏览器样式 */
a, button, input, textarea, div.back-to-top.back-to-top-on {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* 优化归档页面显示效果 */
div.post-block.archive {
    padding: 35px;
    +tablet-mobile() {padding: 26px 23px}  
}

/* 微调归档页面、分类页面指示器图标位置 */
span.archive-move-on {+tablet-mobile() {top: 12.5px !important}}
div.collection-title::before {+tablet-mobile() {top: 49.5% !important}}
/* 按钮样式调整 */
a.btn {
    border: 1px solid #222;
    color: #222;
    font-size: 15px;
}

/* 底部文字样式 */
div.theme-info strong {
    font-weight: 600;
    background: #222;
    color: white;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 1px;
}

/* 侧边栏按钮显示图标 */
ul.menu#menu strong {font-size: 16px}
/* 底部文字优化 */
.footer {color: #222}
/* 正文内标签分页栏优化 */
.post-body .tabs ul.nav-tabs li.tab a {text-align: initial}  /* 设置文字对齐方式为左对齐（初始值） */
li.tab.active {background: #fff}
/* 鼠标样式 */
* {cursor: url('/images/round-cursor.png') 12 12, auto !important}
:active, :hover, :focus, :visited, :checked, :default, :empty, :enabled, :disabled, :link, 
:target, :scope, :required, :any {cursor: url('/images/round-cursor.png') 12 12, auto !important}
/* 滚动条样式 */
::-webkit-scrollbar {width: 8px !important; height: 4px !important; background: #BFBFBF !important}
::-webkit-scrollbar-thumb {border-radius: 0px !important; background: #282828 !important}
/* 调整翻页页码字符大小 */
span.page-number.current, a.page-number {font-size: 15px}