.back-to-top {
  background: #222;
  bottom: $b2t-position-bottom;
  box-sizing: border-box;
  color: $b2t-color;
  cursor: pointer;
  font-size: 18px;
  left: 70px;
  right: 70px;
  width: 120px!important;
  height: 32px;
  line-height: 32px;
  opacity: $b2t-opacity;
  margin: 0 auto;
  padding: 0 6px;
  position: fixed;
  text-align: center;
  transition-property: bottom;
  z-index: 1000;
  the-transition();

  if (hexo-config('back2top.scrollpercent')) {
    width: initial;
  } else {
    width: 24px;

    span {
      display: none;
    }
  }

  &:hover {
    color: #fff;
  }

  &.back-to-top-on {
    bottom: 0px;
    width: 120px!important;
    margin: 0 auto;
  }

  +tablet-mobile() {
    opacity: 1;
  }
}
