/* 主体 */
main.main {
    background: #333; 
    color: #f5f5f5;
}

/* 文章标题 */
main.main .posts-expand .post-title-link {
    color: #f5f5f5;
}

/* 文章标题下方类别名称 */
main.main a, 
main.main span.exturl, 
main.main div.post-nav-next.post-nav-item a {
    color: #999999;
}

/* a标签样式调整 */
main.main a:hover, 
main.main span.exturl:hover, 
main.main div.post-nav-next.post-nav-item a:hover {
    color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.site-state-item a:hover {
    border-bottom: none;
}

/* 分页 */
main.main .pagination .prev:hover, 
main.main .pagination .next:hover, 
main.main .pagination .page-number:hover {
    color: #fff;
}

/* 图片处理 */
main.main img {
    filter: brightness(50%);
}