/* 全站背景色修改=whitesmoke */
body, div#local-search-result, a.btn:hover {background-color: whitesmoke}
li.tab, li.tab.active {background-color: whitesmoke !important}
.highlight, pre, div.note {background-color: #E6E6E6 !important}
.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {border-bottom: 1px solid #E6E6E6}
blockquote {border-left: 4px solid lightgrey}

/* 鼠标样式 */
* {cursor: url('/images/round-cursor.png') 12 12, auto !important}
:active, :hover, :focus, :visited, :checked, :default, :empty, :enabled, :disabled, :link, 
:target, :required {cursor: url('/images/round-cursor.png') 12 12, auto !important}

/* 修改顶部栏背景色 */
header#header.header {background-color: #222}

/* 修改顶部栏上下边距 */
div.header-inner {
    padding-top: 70px;
    padding-bottom: 60px;
}

/* 改变导航栏菜单项目的基础样式 */
ul.menu#menu li a {font-size: 15.5px !important}

/* 改变菜单项目的选中后样式和指向时样式 */
ul#menu.menu li.menu-item-active a {color: #fff !important}
ul#menu.menu li a:hover {color: #fff !important}

/* 修改站点标题样式 */
span.site-title {
    font-weight: 700;
    font-size: 26px;    
}

/* 文章标题加粗 */
header.post-header h2.post-title {font-weight: 700}

/* 减小文章属性下方边距 */
div.post-block div.post-meta {margin-bottom: 20px}

/* 更改文章内容左右外边距，PC=50px，移动端=30px */
section#posts.posts-expand, div#posts.posts-expand {+tablet-mobile() {margin-left: 0px; margin-right: 0px}}
div.post-block {
    margin-left: -50px;
    margin-right: -50px;
    +tablet-mobile() {margin-left: 30px; margin-right: 30px}
}

/* 在部分页面增加下内边距=50px或下外边距=50px */
div#posts.posts-expand {padding-bottom: 50px}
div.post-block.tag, div.post-block.category {margin-bottom: 60px}

/* 更改文章标题字号 */
.posts-expand .post-title {
    font-size: 1.65em;
    font-weight: 700;
    +mobile() {font-size: 1.55em; margin-top: 2px}
    +tablet() {font-size: 1.58em; margin-top: 2px}
}

/* 将“阅读全文”按钮边框宽度设置为1px，字号16px */
a.btn {
    border-width: 1px;
    font-size: 16px;
}

/* 滚动条样式 */
::-webkit-scrollbar {width: 8px !important; height: 4px !important; background: #BFBFBF !important}
::-webkit-scrollbar-thumb {border-radius: 0px !important; background: #222 !important}

/* 移除headband */
div.headband {display: none}

/* 优化文章标题和正文字间距，尝试增强其可读性 */
div.post-body p, div.post-body li, a.post-title-link {
    word-break: break-all;
    word-wrap: break-word;
    letter-spacing: 0.05px;
    word-spacing: -1.5px;
}

/* 修改图片下解释文字上外边距为-15px */
p.image-caption {margin-top: -15px !important}

/* 移动端下拉导航栏菜单背景色 */
.site-nav {
    background-color: #222;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

/* 强化移动端展开菜单导航按钮显示效果 */
.site-nav-toggle button {outline: none !important}
.site-nav-toggle button:hover, .site-nav-toggle button:active {background-color: #484848}
span.btn-bar {background: #fff}

/* 设置移动端按钮点击时浏览器样式 */
a, button, input, textarea, div.back-to-top.back-to-top-on {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* 分页按钮样式修改：突出分页颜色，移除上边框 */
.pagination .page-number.current {background: #222}
.pagination {border-top: 0px solid #eee; margin: 60px 0px 50px}
span.page-number.current, a.page-number {font-size: 16px}

/* 归档页面正文部分上边距调整=40px */
div.post-block.archive {padding-top: 48px}

/* 分类页面优化 */
.category-all-page .category-list-count:before {content: " - 已上传文章篇数: "}
.category-all-page .category-list-count:after {content: " "}
.category-all-page .category-list {+tablet-mobile() {text-align: center}}

/* 移动端导航栏菜单样式优化 */
.menu .menu-item {+tablet-mobile() {display: inline-block}}
.menu {+tablet-mobile() {text-align: center; padding-left: 10px; padding-right: 10px}}

/* 修改底部说明文字块样式 */
.footer {
    color: #fff;
    background-color: #222;
    font-size: 15px;
}

/* 评论区域上外边距设置为-10px */
div#comments.comments {margin-top: -10px}

/* 为不蒜子计数增加说明文字 */
div.busuanzi-count i.fa.fa-user::before {content: "总访客量："}
div.busuanzi-count i.fa.fa-eye::before {content: "总访问量："}

/* 底栏字数统计增加说明文字 */
div.footer-inner i.fa.fa-area-chart::before, div.footer-inner i.fa.fa-coffee::before {display: none}

/* 设置列表左侧边距 */
div.post-body ol {padding-left: 12px}
ul {padding-left: 20px}
blockquote ol {margin-left: -2px}

/* 设置标签切换块上内边距 */
div.post-body div.tabs {padding-top: 0px}

/* 设置文章属性字号 */
div.post-meta span.post-meta-item {font-size: 13px}

/* 侧边栏阴影效果取消和背景颜色修改 */
aside#sidebar.sidebar.sidebar-active {box-shadow: none; background: #000}

/* 不显示侧边栏站点数据？ */
nav.site-state.motion-element {display: block !important}

/* 移除侧边栏项目多余外边框，并增加下外边距 */
div.site-state-item {
    border-width: 0px;
    margin-bottom: 12px;
    display: inline-block;
}

/* 设置切换侧边栏按钮与返回顶部按钮的不透明度 */
div.sidebar-toggle, div.back-to-top.back-to-top-on {opacity: 1}

/* 侧边栏RSS订阅按钮微调 */
div.feed-link.motion-element {margin-top: 8px}

/* 返回顶部按钮大小尺寸修改 */
div.back-to-top.back-to-top-on {
    transform: scale(1.2); 
    font-size: 14px;
    height: 26px;
    line-height: 26px;
}

/* 返回顶部按钮文字修改 */
div.back-to-top.back-to-top-on i.fa.fa-arrow-up::before {content: "已阅读:"; font-size: 12px}

/* 侧边栏切换按钮样式修改和位置修改 */
div.sidebar-toggle {
    bottom: 58px !important; 
    transform: scale(1.4);
}

/* 修正侧边栏切换图标1px偏移 */
.sidebar-toggle-line:first-child {margin-top: 1px}