//
// Variables
// ==================================================

// Background color for <body>
$body-bg-color                  = whitesmoke;
$btn-default-hover-bg           = whitesmoke;

// Headband
$headband-height                = 0px;

// Darkmode
$body-bg-color-dark             = #333;

// Font size
$font-size-base           = (hexo-config('font.enable') and hexo-config('font.global.size') is a 'unit') ? unit(hexo-config('font.global.size'), em) : 1em;
$font-size-smallest       = .75em;
$font-size-smaller        = .8125em;
$font-size-small          = .875em;
$font-size-medium         = 1em;
$font-size-large          = 1.125em;
$font-size-larger         = 1.25em;
$font-size-largest        = 1.375em;

// Scaffolding
// Settings for some of the most global styles.
// --------------------------------------------------
// Global text color on <body>
$text-color                   = #222;