//
// Variables
// ==================================================

// Background color for <body>
$body-bg-color                  = #222;
$btn-default-hover-bg           = whitesmoke;

// Headband
// --------------------------------------------------
$headband-height                = 0px;
$headband-bg                    = $black-deep;
